{% extends "usuarios/base.html" %} {% block title %} ServiFacil | Login {% endblock %} {% block head_content %} {% endblock%} {% block container %} {% if error %}
<p class="alert alert-danger">{{ error }}</p>

{% endif %}

<form method="POST" action="{% url 'users:login' %}">
    {% csrf_token %}
    <div class="form-group">
        <input class="form-control" type="text" placeholder="Username" name="username">
    </div>
    <div class="form-group">
        <input class="form-control" type="password" placeholder="Password" name="password">
    </div>
    <button class="btn btn-primary btn-block mt-5" type="submit">Iniciar Sesión</button>
    <p class="mt-4">¿Aun no tienes una cuenta? <a href="{% url 'users:signup'%}">Registrate Aqui</a></p>
    <p class="mt-4">Empieza a promocionar tu negocio. Crea tu cuenta aqui <a href="{% url 'empresa_crear '%}">Registrate Aqui</a></p>
</form>

{% endblock %}