{% extends "base.html" %} {% block head_content %}
<title>@{{ user.username }} | ServiFacil</title>
{% endblock %} {% block container %}

<div class="container mb-5" style="margin-top: 8em;">
    <div class="row">

        <div class="col-sm-4 d-flex justify-content-center">
            <img src="{{ user.profile.picture.url }}" alt="@{{ user.username}}" class="rounded-circle" width="150px" />
        </div>

        <div class="col-sm-8">
            <h2 style="font-weight: 100;">
                {{ user.username }} {% if user == request.user %}
                <a href="{% url 'users:update' %}" class="ml-5 btn btn-sm btn-outline-info">
                            Editar perfil
                        </a> {% else %}
                <a href="" class="ml-5 btn btn-sm btn-primary">
                            Follow
                        </a> {% endif %}
            </h2>

            <div class="row mt-2" style="font-size: 1.2em">
                <div class="col-sm-4">
                    <b>{{ user.profile.posts_count }}10</b> Pedidos
                </div>
                <div class="col-sm-4">
                    <b>{{ user.profile.followers }}1</b> Facturas
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-12">
                    <p>Número de Celular: {{ user.profile.phone_number }}</p>
                    <p>Correo: {{ user.email }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}