{% extends 'base.html' %} {% block title %} ServiFacil | Empresa {% endblock %}{% block body %}
</div>
<div class="container">
    <h1 class="display-4">Empresas</h1>
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered table-striped table-hover table-sm table-secondary">
                <thead class="thead-dark">
                    <tr>
                        <th>RUC</th>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Propietarios</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% if object_list %}
                    {% for empresa in object_list %}
                    <tr>
                        <td>{{ empresa.ruc }}</td>
                        <td>{{ empresa.nombre }}</td>
                        <td>{{ empresa.direccion }}</td>
                        <td>{{ empresa.persona }}</td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'empresa_editar' empresa.id %}">Editar</a>
                            <a class="btn btn-danger" href="{% url 'empresa_eliminar' empresa.id %}">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <a>No hay resgistros </a>

                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
