{% extends 'base.html' %} {% block container %}
<div class="container text-center mt-5p">
    <h1 class="display-4 justify-content-center">ServiFacil</h1>

    <div class="row justify-content-center mt-10p">

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src=".\static\img\peluqueria.jpg" class="card-img-top" alt="Imagen Peluqueria" />
                <div class="card-body">
                    <h5 class="card-title">Peluqueria</h5>
                    <p class="card-text">
                        Ofrecemos cortes de cabello modernos, barbería, tintes, etc. Atención de Lunes a Sábado
                    </p>
                    <a class="btn btn-primary" href="servicio/lista">Ir</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src=".\static\img\mecanica.jpg" class="card-img-top" alt="Imagen Mecanica" />
                <div class="card-body">
                    <h5 class="card-title">Mecanica</h5>
                    <p class="card-text">
                        Nos dedicamos a revisar y arreglar tu auto, atendemos de 7am a 18pm
                    </p>
                    <a class="btn btn-primary" href="servicio/lista">Ir</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src=".\static\img\mecanica.jpg" class="card-img-top" alt="Imagen Mecanica" />
                <div class="card-body">
                    <h5 class="card-title">Más Servicios Próximamente</h5>
                    <p class="card-text">
                        Seguimos trabajando para que disfrutes de la mejor experiencia de usuario
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}