{% extends 'base.html' %} {% block title %} ServiFacil | Login {% endblock %} {% block body %}
<div class="container mt-5">
    <div class="row justify-content-center border border-dark">
        <div class="col-md-6 align-self-center">
            <img class="img-fluid w-100 h-100" src="../../../assets/img/LogoIPCA.jpg" alt="Logo">
        </div>
        <div class="col-md-6  ">
            <h1 class="text-center display-4">Iniciar Sesión</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-row justify-content-center">
                    <div class="form-group col-12">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon">
                                <i class="pi pi-user" style="line-height: 1.25;"></i>
                            </span>
                           <!-- <input class="w-100" type="text" pInputText placeholder="Username" [(ngModel)]="usuario.username" name="username">-->
                            <input class="form-control" type="text" name="username">
                        </div>
                    </div>
                    <div class="form-group col-12">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon">
                                <i class="pi pi-key" style="line-height: 1.25;"></i>
                            </span>
                            <!-- <input class="w-100" type="password" pInputText placeholder="Contraseña" [(ngModel)]="usuario.password" name="password">-->
                            <input class="form-control" type="text" name="password">
                        </div>
                    </div>
                    <div class="col-12">
                        <!--<button class="btn btn-primary btn-block" (click)="login()">Ingresar</button>-->
                        <input class="btn btn-primary" type="submit" value="Ahoooora maldito">
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="{% url 'registrarse' %}">Registrate</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}